.aboutbox .aboutbox-body {
	padding: 27px 20px 20px 20px;
	margin: 0 auto;
}
.aboutbox .my_works-wrap {
	position: relative;
	display: inline-block;
	text-align: center;
	float: left;
	margin-left: 29px;
}
.aboutbox .my_works-wrap:first-child {
	margin-left: 0;
}
.aboutbox-body .row-works {
	display: inline-block;
	margin-bottom: 40px;
}
.my_works-wrap .my_works-box {
	position: relative;
	width: 179px;
	height: 125px;
	border: 2px solid #29a2b9;
	border-radius: 4px;
	overflow: hidden;
	margin: 0;
	
} 
.my_works-box .work {
	width: 100%;
}
.my_works-box .work-hover {
	position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    background: url(../images/fon-hover.png) repeat;
	opacity: 0.8;
    display:none;
}
.my_works-box:hover .work-hover {
	display: block;
}
.my_works-box .work-name {
	position: absolute;
	top: 40%;
	left: 36%;
	border: 2px solid #eff3f7;
	border-radius: 4px;
	padding: 2px 8px;
	font: 12px 'fira_sansbook';
	color: #eff3f7;
	
}

.my_works-wrap .link-works {
	font: 13px 'fira_sanslight_italic';
	color: #5eb3c8;
	text-decoration: none;
	text-align: center;
}
.project-info-wrap {
	display: inline-block;
	vertical-align: top;
}
.project-info {
	padding-left: 0;
	list-style-type: none;
	margin: 0;
}
.my_works-info {
	width: 166px;
	font: 15px 'fira_sanslight';
}
.my_works-wrap .my-works-info {
	text-align: center;
	
}
.aboutbox-body .new_project {
	background-color: #edf8fc;
	border: 1px dashed #29a2b9;
}
.new_project .add_project {
	display: block;
	margin: 35px 73px 4px 70px;
	
}
.new_project .about_project {
	display: inline-block;
	font: 13px 'fira_sanslight';
	color: #3ba8c0;
}